<form action="/asd" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" autocomplete="off" required />
  <label for="nohp">No Hp</label>
  <input type="text" id="nohp" name="nohp" autocomplete="off" required />
  <label for="email">Email</label>
  <input type="text" id="email" name="email" autocomplete="off" required />
  <button type="submit">Add</button>
</form>
