@media only screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  .container-btn-message {
    /* display: none; */
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .container-btn-message #message-btn {
    display: flex;
    font-size: 7rem;
    border: none;
    padding: 2rem;
    cursor: pointer;
    background-color: palevioletred;
    border-radius: 2rem;
    color: white;
  }

  .container-login-message {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .container-popup {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: space-between;
    background-color: white;
    min-width: 95vw;
    min-height: 250px;
    padding: 1.5rem;
    background-image: url(assets/img/loveballon/love-book2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .container-popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    /* max-width: 95vw; */
    min-height: 150px;
    margin-bottom: 1rem;
  }

  .container-popup form label,
  .container-popup form input {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .container-popup input {
    padding: 0.2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .container-login-button {
    display: flex;
    justify-content: space-between;
  }

  .container-login-button #login-btn {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .container-login-button #cancel-login-btn {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
  }

  .container-popup-after-login {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .container-popup-success {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
    min-width: 95vw;
    max-width: 95%;
    min-height: 300px;
    max-height: 300px;
    padding: 1rem;
    background-image: url(assets/img/loveballon/love-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .container-popup-success h2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    /* margin-bottom: 2rem; */
  }

  .container-popup-success h2 span {
    font-size: 1.2rem;
    color: red;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
  }

  .container-popup-success p {
    text-align: justify;
    font-size: 1.2rem;
    /* margin-top: 7.2rem; */
  }

  .container-popup-success .container-success-btn {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  .container-popup-success .container-success-btn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  .container-popup-after-login-failure {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .container-popup-failure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: white;
    min-width: 95vw;
    max-width: 95%;
    min-height: 250px;
    max-height: 300px;
    padding: 1rem;
    background-image: url(assets/img/loveballon/broken-heart-swing2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .container-popup-failure h2 {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container-popup-failure p {
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
  }

  .container-popup-failure button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    color: black;
    /* text-align: start;
        margin-left: 1rem; */
  }

  .container-last-confirm {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .container-last-confirm .confirm-box {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    min-width: 300px;
    max-width: 95%;
    min-height: 300px;
    padding: 1rem;
    justify-content: space-around;
    background-image: url(assets/img/loveballon/love-hand.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .container-last-confirm .confirm-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-last-confirm .confirm-box form .container-input-confirm-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .container-last-confirm .confirm-box form input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    min-width: 15%;
    max-width: 15%;
    background-color: white;
    margin-right: 3px;
  }

  .container-last-confirm .confirm-box label {
    /* margin-bottom: 1rem; */
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    transform: translateY(-15px);
  }

  .container-last-confirm .confirm-box .confirm-box-button button {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  .container-last-confirm .confirm-box .confirm-box-button {
    display: flex;
    justify-content: flex-end;
  }

  .container-love-ballon {
    width: 100%;
  }

  .container-love-ballon button {
    width: 100px;
    height: 100px;
  }

  .container-wrong-pass {
    display: none;
    height: 200px;
    max-width: 95vw;
    justify-content: center;
    align-items: center;
  }

  .container-wrong-pass p {
    color: white;
    background-color: rgba(223, 35, 35, 0.9);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }

  .container-right-pass {
    display: none;
    height: 200px;
    max-width: 95vw;
    justify-content: center;
    align-items: center;
  }

  .container-right-pass p {
    color: white;
    background-color: green;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }

  /* todo - pop ballon */

  .container-love-ballon {
    /* display: flex; */
    display: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: absolute;
  }

  .container-love-ballon img {
    width: 140px;
    height: 140px;
    transition: all 1s ease-in-out;
    animation-name: pop-up-ballon;
    animation-duration: 4s;
    animation-iteration-count: 2;
    /* animation-direction: alternate; */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* animation: ; */
  }

  @keyframes pop-up-ballon {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1) translateY(-600px);
    }
  }

  .container-love-ballon .pop-ballon1 {
    position: absolute;
    top: 130px;
    left: 20px;
  }

  .container-love-ballon .pop-ballon2 {
    position: absolute;
    top: 250px;
    left: 40px;
    animation-delay: 190ms;
  }

  .container-love-ballon .pop-ballon3 {
    position: absolute;
    top: 5px;
    left: 90px;
    animation-delay: 360ms;
  }

  .container-love-ballon .pop-ballon4 {
    position: absolute;
    top: 350px;
    left: 120px;
    animation-delay: 550ms;
  }

  .container-love-ballon .pop-ballon5 {
    position: absolute;
    top: 220px;
    left: 170px;
    animation-delay: 820ms;
  }

  .container-love-ballon .pop-ballon6 {
    position: absolute;
    top: 20px;
    left: 210px;
    animation-delay: 410ms;
  }

  .container-love-ballon .pop-ballon7 {
    position: absolute;
    top: 370px;
    left: 230px;
    animation-delay: 230ms;
  }
}
